.text {
  font-size: 18px;
  margin: auto 0;
}
.title {
  color: rgb(64, 64, 109);
  text-align: center;
  overflow: hidden;
  border-right: 0.17em solid #f1bb55;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.17em;
  animation: typing 3.5s steps(30, end), blink-caret 0.7s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
